.neon-button {
    opacity: 0.8;
    font-family: 'Inknut Antiqua', serif;
    font-size: 2vh;
    color: #AED9FF;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    cursor:pointer;
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: fit-content;
}

.neon-button:hover {
    animation: text-flicker-in-glow 3s linear both,
    flicker 5s 5s infinite alternate;
    filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
    drop-shadow(0 0 4em #08f);
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.2;
        filter: none;
    }
    10.1% {
        opacity: 0.5;
        filter: none;
    }
    10.2% {
        opacity: 0.2;
        filter: none;
    }
    20% {
        opacity: 0.2;
        filter: none;
    }
    20.1% {
        opacity: 0.5;
        filter: drop-shadow(0 0 0.1em #fff);
    }
    20.6% {
        opacity: 0.2;
        filter: none;
    }
    30% {
        opacity: 0.2;
        filter: none;
    }
    30.1% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.2em #fff);
    }
    30.5% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.2em #fff);
    }
    30.6% {
        opacity: 0.2;
        filter: none;
    }
    45% {
        opacity: 0.2;
        filter: none;
    }
    45.1% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    50% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    55% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    55.1% {
        opacity: 0.2;
        filter: none;
    }
    57% {
        opacity: 0.2;
        filter: none;
    }
    57.1% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    60% {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    60.1% {
        opacity: 0.2;
        filter: none;
    }
    65% {
        opacity: 0.2;
        filter: none;
    }
    65.1% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    75% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f);
    }
    75.1% {
        opacity: 0.2;
        filter: none;
    }
    77% {
        opacity: 0.2;
        filter: none;
    }
    77.1% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
        drop-shadow(0 0 4em #08f);
    }
    85% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
        drop-shadow(0 0 4em #08f);
    }
    85.1% {
        opacity: 0.2;
        filter: none;
    }
    86% {
        opacity: 0.2;
        filter: none;
    }
    86.1% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
        drop-shadow(0 0 4em #08f);
    }
    100% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
        drop-shadow(0 0 4em #08f);
    }
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em #fff) drop-shadow(0 0 2em #08f)
        drop-shadow(0 0 4em #08f);
    }

    20%,
    24%,
    55% {
        opacity: 0.2;
        filter: none;
    }
}
